
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
canvas {
    background-color: palegoldenrod;
    display:block;
    width: 500px;
    height: 500px;
    
    margin-left:auto;
    margin-right:auto;
    border: 5px solid black;
}

h1 {
    text-align: center
}


#flex {
    display:flex;
    justify-content: center
}

.flex-container{
    justify-content: center

}


#tabelle{
    margin: 100px;
    border: solid, 5px, black;
    margin-left:auto;
    margin-right:auto;
    

}

table, tr, th, td{
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    background-color: yellow;
}   

#previousDay{
    border-radius: 20px;
    margin-left: 200px;
}

#nextDay{
    border-radius: 20px;
    
}

#date{
    border-radius: 20px;
    background-color: palegoldenrod;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}